body {
	padding: 0;
	margin: 0;
}

body * {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: monospace;
}

#header {
	height: 4rem;
	width: 100%;
	padding: 0.6rem 10rem;

	z-index: 3;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;
	box-shadow: 0 0.1rem 0.5rem 0 #bbb;
}

#navbar {
	display: flex;
}

#navbar a {
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 0.875rem;
	text-decoration: none;
}

#navbar a:hover {
	color: #fff;
	background-color: #000;
}

#header img {
	max-width: 2.5rem;
}

#welcome-section {
	height: 100vh;
	padding-top: 4rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

#welcome-section h1 {
	line-height: 3rem;
	letter-spacing: -2px;
	font-size: 2rem;
	font-weight: lighter;
}

#projects {
	height: 100vh;
	padding: 0 6rem;
	padding-top: 4rem;

	display: flex;
	gap: 3rem;
	justify-content: space-evenly;
	align-items: center;
}

.project-tile {
	position: relative;

	background-color: #fff;
	box-shadow: 0 0 0.3rem 0 #bbb;
	transition: transform 0.2s ease;
}

a .project-tile:hover {
	transform: scale(1.1);
}

.project-tile img {
	width: 100%;
	height: 15rem;

	object-fit: cover;
	object-position: center;
}

.project-tile p {
	padding: 0.8rem 0;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	color: #000;
	background-color: #fff;

	text-align: center;
	letter-spacing: 0.2rem;
	font-size: 0.875rem;
	font-weight: 500;
}

footer {
	padding: 2rem 1rem;
	text-align: center;
	font-size: 0.875rem;
}

@media screen and (max-width: 1400px) {
	#projects {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 800px) {
	#header {
		padding: 0.6rem;
	}

	#projects {
		padding: 1rem;
		padding-top: 6rem;
		grid-template-columns: 1fr;
		justify-content: space-between;
	}
}
